@{
  Layout = "_Layout";
}

<h1>Best Stylish hair Salon in Town!</h1>


<p>@Html.ActionLink("Add Stylish!", "Create", "Stylish")</p>
@* <p>@Html.ActionLink("Add!", "Create", "")</p> *@
<p>@Html.ActionLink("View Stylish!", "Index", "Stylish")</p>